{% load crispy_forms_tags %}
{% load static%}
{% block content %}

<head>
  <meta charset="UTF-8">
  <link rel=" stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis:800" rel="stylesheet">
  <style type="text/css">
      body {
        background: linear-gradient(110deg, #edf2f7 60%, #2a4365 60%);
        height: 100%;
      }
      html {
        height: 100%;
      }
      .vertical{
        margin-top:40%;
      }
      .top-buffer { 
        margin-top:20px; 
      }
  </style>
</head>


<div class="container rounded bg-light mt-4">
  <div class="row rounded">
    <div class="col"> 
      <img src="{{ user.profile.image.url }}" class="img-circle" alt="icon" >
    </div>
    <div class="col">
      <h1 class="vertical">{{ user.username }}</h1>
    </div>
  </div>
</div>

      <div class="container">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
  </div>
{% endblock content %}

{#{% extends 'FindTutors/base.html' %}#}
{#{% load crispy_forms_tags %}#}
{#{% block content %}#}
{#    <div class="content-section">#}
{#      <div class="media">#}
{#        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">#}
{#        <div class="media-body">#}
{#          <h2 class="account-heading">{{ user.username }}</h2>#}
{#          <p class="text-secondary">{{ user.email }}</p>#}
{#        </div>#}
{#      </div>#}
{#      <form method="POST" enctype="multipart/form-data">#}
{#          {% csrf_token %}#}
{#          <fieldset class="form-group">#}
{#              <legend class="border-bottom mb-4">Profile Info</legend>#}
{#              {{ p_form|crispy }}#}
{#          </fieldset>#}
{#          <div class="form-group">#}
{#              <button class="btn btn-outline-info" type="submit">Update</button>#}
{#          </div>#}
{#      </form>#}
{#    </div>#}
{#{% endblock content %}#}