{% extends 'FindTutors/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

     <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
 <link
      rel="stylesheet"
      type="text/css"
    />
<body>

<h1><p class="text-center">Please Provide Feedback for Your Tutor</p></h1>

<form method='POST'>
    {% csrf_token %}{{ form.as_p }}
<button type='Submit'> Submit Review! </button>

</form>


    </body>
</html>
{% endblock %}