{% extends 'FindTutors/base.html' %}
{% block content %}
<header class="page-header header container-fluid">
    <form method="post">
            <div class="form">
                {% csrf_token %}
                {{ form.as_p }}
            <button type='submit'> Send Request </button>
        </div>
    </form>
    <div id="map"></div>
    <div class="caption">
        Drag Pin to Desired Meeting Location Before Sending Request
    <div>
</header>
<script>
// Initialize and add the map

    function initMap() {
        // The location of Uluru
        var uluru = {lat: 38.036460, lng: -78.506080};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 16, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map, draggable:true});
        //geolocation = "("+marker.getPosition().lat()+","+marker.getPosition().log()+")";
        

        google.maps.event.addListener (marker, 'dragend', function (event) {
            var point = marker.getPosition();
            document.getElementById("id_latitude").value = marker.getPosition().lat();
            document.getElementById("id_longitude").value = marker.getPosition().lng();
            map.panTo(point);
            geocoder = new google.maps.Geocoder();
            geocoder.geocode({'latLng': point},function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    document.getElementById("id_address").value = results[0].formatted_address;
                }
            });
        }); 
    }

</script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5QOIUA7DT_w1wgueh_nA-HTqLqGS6ZQM&callback=initMap">
</script>
{% endblock %}