{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SignUp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
      <meta nmae = "description" content = "">
      <meta name="author" content = "">
      <title>SignUp</title>
      {% load static %}

<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">



{#{% block content %}#}
    <style>
    h2{
        font-size: 5vw;
        margin-top:2vh;
        padding-left: 7vw;
        font-family: 'Josefin Sans', sans-serif;
        color: black;
        text-align:center;
    }
    body{
         background:url(/FindTutors/static/SignUp/images/pencils.jpg) no-repeat;
         padding-top:0px;
         background-size:cover;
            }

    </style>
            	    <link rel="stylesheet" type="text/css" href="{% static 'SignUp/style.css' %}">

    </head>
    <body>
<h2> Create a New Tutor Account </h2>

<form method = "POST" class = "post-form">
    {% csrf_token %}{{ form.as_p }}
    <button type="submit">Register as a Tutor</button>
</form>

{#    <div class="modal-content">#}
{#        {% csrf_token %}#}
{##}
{##}
{#         <!-- Material input name -->#}
{#        <div class="md-form form-sm">#}
{#          <i class="fa fa-envelope prefix"></i>#}
{#          <input type="text" id="username" class="form-control form-control-sm">#}
{#          <label for="id_username">Your username</label>#}
{#        </div>#}
{##}
{#        <!-- Material input email -->#}
{#        <div class="md-form form-sm">#}
{#          <i class="fa fa-lock prefix"></i>#}
{#          <input type="text" id="firstname" class="form-control form-control-sm">#}
{#          <label for="id_firstname">Your first name:</label>#}
{#        </div>#}
{##}
{#        <div class="md-form form-sm">#}
{#          <i class="fa fa-lock prefix"></i>#}
{#          <input type="text" id="lastname" class="form-control form-control-sm">#}
{#          <label for="id_lastname">Your last name:</label>#}
{#        </div>#}
{##}
{#        <!-- Material input subject -->#}
{#        <div class="md-form form-sm">#}
{#          <i class="fa fa-tag prefix"></i>#}
{#          <input type="email" id="email" class="form-control form-control-sm">#}
{#          <label for="id_email">Your email  </label>#}
{#        </div>#}
{##}
{#        <div class="md-form form-sm">#}
{#          <i class="fa fa-lock prefix"></i>#}
{#          <input type="number" id="phone_number" class="form-control form-control-sm">#}
{#          <label for="id_phone_number">Your phone number :</label>#}
{#        </div>#}
{##}
{#        <div class="md-form form-sm">#}
{#          <i class="fa fa-lock prefix"></i>#}
{#          <input type="number" id="year" class="form-control form-control-sm">#}
{#          <label for="id_year">Your years of experience:</label>#}
{#        </div>#}
{##}
{#        <!-- Material textarea message -->#}
{#        <div class="md-form form-sm">#}
{#          <i class="fa fa-pencil-alt prefix"></i>#}
{#          <textarea type="text" id="subjects"#}
{#            class="md-textarea form-control"></textarea>#}
{#          <label for="id_subjects">Your subjects</label>#}
{#        </div>#}
{##}
{#        <div class="text-center mt-4 mb-2">#}
{#            <button type="submit"> Register As Tutor! </button>#}
{#            </form>#}
{#            <br>#}
{#          </button>#}
{#        </div>#}
{#            </div>#}
{#            <button type="submit"> Register As Tutor! </button>#}
{#            </form>#}
{#            <br>#}

    </body>
</html>
{#{% endblock %}#}