{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tutor Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
      <meta nmae = "description" content = "">
      <meta name="author" content = "">
      <title>Tutor Profile</title>

      {% load static %}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

      <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">



      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">


</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{profile.firstname}} {{ profile.lastname }} 's Profile</h1>
  </div>

</div>
<div class="container-fluid bg-1 text-center">
     {% if profile.image %}
    <img src="{{ profile.image.url }}" width="150">
    {% endif %}
</div>

<div class="container-fluid bg-2 text-center">
  <h3> Contact Information </h3>
  <p>{{profile.email }}</p>
    <p>{{profile.phone_number }}</p>

</div>


<div class="container-fluid bg-3 text-center">
  <h3>Subjects </h3>
  <p>{{profile.subjects}}</p>
</div>
<div class="container-fluid bg-3 text-center">
  <h3>Years Of Experience </h3>
  <p>{{profile.year}}</p>
</div>

<div class="container-fluid bg-3 text-left">
  <h3>About {{ profile.firstname }} {{ profile.lastname }} </h3>
  <p>{{profile.bio}}</p>
</div>

<div class="container-fluid bg-3 text-right">
  {% for review in reviews %}
      <h3>Ratings and Reviews</h3>
  <p>{{review.reviews}}</p>
      <p>{{ review.rating }}</p>
  {% endfor %}
</div>

{#<div class="container-fluid bg-3 text-right">#}
{#  <h3>Ratings and Reviews </h3>#}
{#  <p>{{profile.bio}}</p>#}
{#</div>#}



</body>
</html>