<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <h1 style='margin-left:35%'> <p class="text-success">Tutor Request Successful!</h1></p>
  {% if tutors %}
  <ul style='margin-left:40%'>
    {% for tutor in tutors %}
      <li>{{ tutor.name }}
          {{ tutor.email }}
          {{ tutor.phone_number }}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p> No tutor is available </p>
  {% endif %}

<img src="https://learnenglishteens.britishcouncil.org/sites/teens/files/styles/article/public/rs7364_thinkstockphotos-515067268-low.jpg?itok=6PTAbSRX" style='width:100%;'/>
