Django
gunicorn
social-auth-app-django
django-crispy-forms
asgiref
bootstrap4
certifi
chardet
defusedxml
django-authtools
idna
oauthlib
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-core
sqlparse
urllib3
django-heroku
Pillow
psycopg2==2.8.4
django-postgresql
faker
twilio
