<div class="jumbotron">
    <h1>User Login</h1>
    {% if user.is_authenticated %}
        <meta http-equiv = "refresh" content = "0; url = {% url 'home' %}" />
      <!--<p>Logged as {{ user.username }}</p> -->
      <!--<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a> -->
    {% else %}
      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>
<!--      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">-->
<!--        Login as Tutee-->
<!--      </a>-->

    {% endif %}
  </div>
